
.all-particular-movies main {
    display: flex !important;
    flex-wrap: wrap;
    margin-left: 89px;
    background-color: #1d253c;
    justify-content: space-around;

    .each-movie {
        position: relative;
        flex: 0 1 10%;
        color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:10px 50px;

        &:hover .each-movie-overlay-effect {
            animation: rotate-in-2-fwd 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            cursor: pointer;
        }
    
        &-title {
            display: inline-block;
            width: 80%;
            font-size: 16px;
            text-align: center;
        }
    
        img {
            width: 100%;
            background-position: center;
            margin-bottom: 10px;
    
            &:hover {
                cursor: pointer;
            }
        }
    
        &-star {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
        }
    
        &-average {
            margin-left: 10px;
        }
    
        &-overlay-effect {
            position: absolute;
            top: 0;
            left: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            height: 80%;
            width: 100%;
            font-size: 40px;
            opacity: 0;
            background-color: transparent;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .all-particular-movies main {
        margin-left: 55px;

        .each-movie-average {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 992px) {
    .all-particular-movies main  .each-movie {
        margin: 10px 30px;
        flex: 0 1 20%;
    }
}


@media only screen and (max-width: 576px) {
    .all-particular-movies main {
        margin-left: 0;
        width: 100vw;
    }
}

@media only screen and (max-width: 400px) {
    .all-particular-movies main  .each-movie {
        margin: 10px;
        flex: 0 1 50%;
    }
}
