@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap');

$heading-font-family: 'Open Sans';
$subheading-font-family: 'Montserrat';
$content-font-family: 'Raleway';
