%primaryGradient {
    background: -webkit-linear-gradient(#f58608, #ef4d23);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

%secondaryGradient {
    background: -webkit-linear-gradient(#ef4d23, #f58608);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

.favorite-page {
    min-height: 100vh;
    background-color: #1d253c;
    color: white;

    .favorite {
        margin-left: 105px;
        position: relative;

        &-heading {
            padding-top: 40px;
            text-align: center;
            @extend %primaryGradient;
        }

        &-line {
            position: absolute;
            width: 300px;
            height: 1px;
            background: white;
            opacity: .8;
            right: 42%;
        }
    }
}