%primaryGradient {
    background: -webkit-linear-gradient(#f58608, #ef4d23);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

%secondaryGradient {
    background: -webkit-linear-gradient(#ef4d23, #f58608);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

.favorite-page {
    min-height: 100vh;
    background-color: #1d253c;
    color: white;

    .favorite {
        margin-left: 105px;
        position: relative;

        &-heading {
            padding-top: 40px;
            text-align: center;
            @extend %primaryGradient;
        }

        &-line {
            position: absolute;
            width: 15%;
            height: 1px;
            background: white;
            opacity: .8;
            right: 44%;
            top: 90px;
        }

        &-item {
            margin-bottom: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            
        }

        &-img {
            width: 200px;
            height: 300px;
            -webkit-box-flex: 0;
                -ms-flex: 0 1 20%;
                    flex: 0 1 20%;
            transition: all .2s linear;
            
            &:hover {
                cursor: pointer;
                -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            }
        }

        &-score {
            width: 50px;
        }

        &-right-side {
            margin-top: 10px;
            margin-left: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        }

        &-title,
        &-release-date {
            margin-top: 10px;
            margin-left: 10px;
        }

        &-inline-items {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        &-buttons {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            
            & > * {
                margin-right: 10px;
            }
        }

        &-remove-item,
        &-homepage {
            border: 1px solid gray;
            outline: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: transparent;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            color: white;
                
            &:hover {
                background-color: white;
                border: 1px solid white;
                color: #005cbf !important;
                cursor: pointer;
            }
        }

        &-homepage {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    }
}

@media only screen and (max-width: 768px) {
    .favorite-page {

        .favorite {

            &-line {
                display: none;
            }

            &-right-side {
                
                span {
                    margin: 5px 5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .favorite-page {

        .favorite {
            margin-left: 0px;
            padding-bottom: 10px;
            
            &-item {
                flex-direction: column;
                align-items: center;
            }

            &-inline-items {
                margin-bottom: 5px;
            }
        }
    }
}