@import '../base/_typography.scss';

.home-page {

    main {
        margin-left: 90px;
        background-color: #1d253c;
        overflow: hidden;
        position: relative;
        transition: all .5s ease-in-out;
    }
}