@import '../base/_typography.scss';

.home-page {

    main {
        margin-left: 90px;
        background-color: #1d253c;
        overflow: hidden;
        
        .out-focus {
            margin: 20px;
        }
    }
}