%primaryGradient {
    background: -webkit-linear-gradient(#f58608, #ef4d23);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

%secondaryGradient {
    background: -webkit-linear-gradient(#ef4d23, #f58608);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

.login-page-container {
    min-height: 100vh;
    background-color: #1d253c;
    color: white;

    main {
        margin-left: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: inherit;

        .login {
            width: 500px;
            max-width: 400px;
            border: 1px solid white;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            &-image {
                max-width: 70px;
                border-radius: 50%;
                position: absolute;
                top: -35px;
            }

            &-form {
                padding: 1rem 0 2rem;
                width: 300px;
                display: flex;
                flex-direction: column;

                p {
                    color: #ef4d23
                }

                input {
                    color: white;
                }
            }

            &-label {
                align-self: flex-start;
                
            }

            &-input {
                width: 90%;
                margin-bottom: 1rem;
                border: none;
                outline: none;
                background-color: transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-top: 1px solid transparent;
                border-bottom: 1px solid white;
                transition: all .3s linear;

                &:focus {
                    padding: 1px 5px;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    border-radius: 5px;
                }
            }

            &-btn {
                margin-top: 10px;
                width: 100px;
                
            }

            &-heading {
                margin-top: 3.5rem;
                @extend %primaryGradient;
            }

            &-btn {
                border: none;
                padding: 4px 20px;
                border-radius: 20px;
                background: linear-gradient(#f58608, #ef4d23);
                color: white;
                transition: all .3s linear;
                margin-left: auto;
                margin-right: auto;

                &:hover {
                   background: linear-gradient(#ef4d23, #f58608);
                }
            }

            .create-acc {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                
                a {
                    @extend %primaryGradient;
                    font-size: 17px;
                    font-weight: 600;

                    &:hover {
                        @extend %secondaryGradient;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .login-page-container {

        main {
            margin-left: 0px;
        }

        .login-form {
            width: 365px;
        }
    }
}