.login-page-container {
    min-height: 100vh;
    background-color: #1d253c;
    color: white;

    main {
        margin-left: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: inherit;

        .login {
            width: 500px;
            max-width: 400px;
            border: 1px solid white;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            &-image {
                max-width: 70px;
                border-radius: 50%;
                position: absolute;
                top: -35px;
            }

            &-form {
                padding: 1rem 0 2rem;
                width: 300px;
                display: flex;
                flex-direction: column;

                p {
                    color: #ef4d23
                }

                input {
                    color: white;
                }
            }

            &-label {
                align-self: flex-start;
            }

            &-input {
                width: 90%;
                margin-bottom: 1rem;
                border: none;
                outline: none;
                background-color: transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-top: 1px solid transparent;
                border-bottom: 1px solid white;
                transition: all .3s linear;

                &:focus {
                    padding: 1px 5px;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    border-radius: 5px;
                }
            }

            &-btn {
                margin-top: 10px;
                width: 100px;
            }

            &-heading {
                margin-top: 3.5rem;
                color: gray;
                opacity: .8;
            }

            &-btn {
                border: none;
                padding: 4px 20px;
                border-radius: 20px;
                background-color: gray;
                color: white;
                transition: all .3s linear;
                margin-left: auto;
                margin-right: auto;

                &:hover {
                    background-color: white;
                    color: gray;
                }

                &:hover a {
                    color: gray;
                    text-decoration: none;
                }
            }

            .create-acc {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                
                a {
                    color: #ef4d23;
                    font-size: 15px;
                }
            }
        }
    }
}