.special-person-page {
    main {
        margin-left: 90px;
        background-color: black;
        color: white;
        min-height: 100vh;

        .person {
            padding-top: 50px;
            display: flex;

            &-box {
                margin-bottom: 5px;
            }

            &-left-side {
                width: 300px;
                display: flex;
                flex-direction: column;

                h3 {
                    margin: 5px 0;
                }
            }

            &-img {
                width: 300px;
                height: 450px;
            }

            &-nickname {
                background-color: gray;
                border-radius: 10px;
                padding: 2px 5px;
                margin-right: 5px;
                margin-top: 5px;
            }

            &-nicknames-flex {
                display: flex;
                flex-wrap: wrap;
            }

            &-right-side {
                padding: 0px 30px;
                display: flex;
                flex-direction: column;

                & > h3 {
                    text-align: center;
                }
            }

            &-photos-flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                img {
                    margin-bottom: 10px;
                    margin-right: 10px;
                    width: 150px;
                    height: 200px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            &-cover-img,
            &-close {
                position: absolute;
            }

            &-cover-img {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30%;
                opacity: 1;
            }

            &-cover-img-hide {
                opacity: 0;
                display: none;
            }

            &-close {
                top: 4.5%;
                left: 66%;
                font-size: 25px;
                opacity: 1;
                
                &:hover {
                    cursor: pointer;
                }
            }

            &-close-hide {
                opacity: 0;
            }
        }
    }
}